<div id="<%= dom_id post %>" >

  <p class="my-5">
    <strong class="block font-medium mb-1">Title: <%= post.title %></strong>

  </p>
  <p class="my-5">
  <strong class="block font-medium mb-1">Body:<%= post.body %></strong>
  </p>

  <p class="my-5" data-controller="post"  >
    <strong id="tam"></strong>
    <%= image_tag post.photo, class:"rounded-lg"  %>
   
  </p>
  <p class="my-5" data-controller="post" >
   <strong  data-post-target="cardTipo"></strong>
  </p>
  <p class="my-5">
    <strong >Tipo: <%= post.tipo %></strong><br>
    <% if post.tipo === "Private" %>
         <strong class="">Personas con acceso: <%= post.personas %> </strong>

    <% end %>
  
  </p>
  

  <% if action_name != "show" %>
    <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium text-black" %>
    <%= link_to 'Edit this post', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-mediumn text-black" %>
    <hr class="mt-6">
  <% end %>
</div>
